@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #141b2d;
}

#root,
.app,
.content {
  font-family: "Source Sans Pro", sans-serif;
}

.app {
  display: flex;
  position: relative;
}

/* Recharts */
.custom-tooltip {
  background-color: white;
  padding: 10px 10px 10px 10px;
}

.custom-tooltip .label {
  color: black;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 5px;
}

/* Leaflet Maps */
.marker {
  box-sizing: border-box;
  color: #fff;
  font-weight: bold;
  border-radius: 50%;
  border: 2px solid #fff;
}
.marker_joaquin {
  background: #f44336;
}
.marker_korneel {
  background: #e5de00;
}
.marker_simon {
  background: #4caf50;
}
.marker_stef {
  background: #2196f3;
}
.marker_all {
  background: #8140b9;
}

.marker_cluster {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: conic-gradient(
    #f44336 0% var(--percentage1),
    #e5de00 0% var(--percentage2),
    #4caf50 0% var(--percentage3),
    #2196f3 0% var(--percentage4),
    #fff 0% 100%
  );
  border: 2px solid #fff;
}

.pie-chart-container {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 20px; /* Adjust spacing between pie chart and text */
}

.donut-chart {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  clip-path: circle(50% at center);
  background: conic-gradient(
    #f44336 0% var(--percentage1),
    #e5de00 0% var(--percentage2),
    #4caf50 0% var(--percentage3),
    #2196f3 0% var(--percentage4),
    #fff 0% 100%
  );
}

.donut-chart-center {
  position: absolute;
  width: 70%;
  height: 70%;
  top: 15%;
  left: 15%;
  border-radius: 50%;
  background-color: white; /* Set the background color to match your page background */
}

.marker-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  color: black;
  font-family: "Source Sans Pro", sans-serif;
  z-index: 1;
}
