@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #141b2d;
}

#root,
.app,
.content {
  font-family: "Source Sans Pro", sans-serif;
}

.app {
  display: flex;
  position: relative;
}